<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
  <title>Document</title>
</head>
<body>
    <header>
      <h1 class='logo'>
        NAMDAPHA IITM
        <span>PR and Social Team</span>
      </h1>
      
        <h1>Namdapha House</h1>
        <nav class="navbar">
          <a href="/">Namdapha House</a>
          <a href="/HC">House Council</a>
          <a href="/pr">Pr & web ops team</a>
          <a href="/Rc">Regional-Coordinators</a>
          <a href="/Club">Clubs</a>
          <a href="/Resource">Namdapha Resources</a>
          <a href="announcement">Announcements</a>
      </nav>
    
    </header>

<!--Menu Bar-->
  <input class='planet3' id='earth' type='radio' name='planet' checked='checked'>
  <label class='earth menu' for='earth'>
    <div class='preview'></div>
    <div class='info'>
      <h2>
        <div class='pip'></div>
        WEB ADMIN
      </h2>
      <h3>POSITION</h3>
    </div>
  </label>
  <input class='planet2' id='venus' type='radio' name='planet' checked='checked'>
  <label class='menu venus' for='venus'>
    <div class='preview'></div>
    <div class='info'>
      <h2>
        <div class='pip'></div>
        DEPUTY SECRETARY
      </h2>
      <h3>POSITION</h3>
    </div>
  </label>
  <input class='planet1' id='mercury' type='radio' name='planet' checked='checked'>
  <label class='menu mercury' for='mercury'>
    <div class='preview'></div>
    <div class='info'>
      <h2>
        <div class='pip'></div>
       SECRETARY
      </h2>
      <h3>POSITION</h3>
    </div>
  </label>

  <!--Details-->>
  <div class='solar'>
    <div class='solar_systm'>
      <div class='mercury planet'>
        <div class='mercury planet_description'>
          <h1>Secretary | Pankaj Joshi</h1>
          <p>Info</p>
          <label for='readMercury'>
            <a>
              Read Mor
              <span>e</span>
            </a>
          </label>
        </div>
        <div class='overlay'></div>
      </div>
    </div>
    <div class='solar_systm'>
      <div class='planet venus'>
        <div class='planet_description venus'>
          <h1>Deputy Secretary | Mayank Verma</h1>
          <p>Info</p>
          <label for='readVenus'>
            <a>
              Read Mor
              <span>e</span>
            </a>
          </label>
        </div>
        <div class='overlay'></div>
      </div>
    </div>
    <div class='solar_systm'>
      <div class='earth planet'>
        <div class='m trajectory'></div>
        <div class='earth planet_description'>
          <h1>Web Admin | Sairaj Nanda</h1>
          <p>Info</p>
          <label for='readEarth'>
            <a>
              Read Mor
              <span>e</span>
            </a>
          </label>
        </div>
        <div class='overlay'></div>
      </div>
    </div>
  
  <input class='read' id='readMercury' type='radio' name='mercuryRead'>
  <label class='closeBig' for='closeMercury'></label>
  <input class='read' id='closeMercury' type='radio' name='mercuryRead'>
  <div class='panel'>
    <h1>PANKAJ JOSHI</h1>
    <p>Info about Secretary</p>
    <img src='static/images/Pankaj.jpg'>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/navjot-singh-dadiala" target="_blank" title="LinkedIn">
          <i class="fab fa-linkedin" style="font-size: 24px; color: #0e76a8;"></i>
        </a>
        <a href="https://www.instagram.com/s_d_naviii/" target="_blank" title="Instagram">
          <i class="fab fa-instagram" style="font-size: 24px; color: #E4405F;"></i>
        </a>
        <p>MAIL ID - namdapha-sec@ds.study.iitm.ac.in</p>
          <p>Diploma Level Student</p>
          <p></p>
      </div>
      
  </div>
  <input class='read' id='readVenus' type='radio' name='venusRead'>
  <label class='closeBig' for='closeVenus'></label>
  <input class='read' id='closeVenus' type='radio' name='venusRead'>
  <div class='panel'>
    <div class="pr-social">
      <h1>MAYANK VERMA</h1>
      <p>Info about Deputy Secretary</p>
      <img src="static/images/mayank.jpg" alt="Profile Icon">
      <div class="social-links">
          <a href="https://www.linkedin.com/in/navjot-singh-dadiala" target="_blank" title="LinkedIn">
              <i class="fab fa-linkedin" style="font-size: 24px; color: #0e76a8;"></i>
          </a>
          <a href="https://www.instagram.com/s_d_naviii/" target="_blank" title="Instagram">
              <i class="fab fa-instagram" style="font-size: 24px; color: #E4405F;"></i>
          </a>
          <p>MAIL ID - namdapha-webad@ds.study.iitm.ac.in</p>
          <p>Diploma Level Student</p>
          <p></p>
      </div>
  </div>
  
  </div>
  <input class='read' id='readEarth' type='radio' name='earthRead'>
  <label class='closeBig' for='closeEarth'></label>
  <input class='read' id='closeEarth' type='radio' name='earthRead'>
  <div class='panel'>
    <div class="pr-social">
      <h1>SAIRAJ NANDA</h1>
      <p>Info about Web Admin</p>
      <img src="static/sairaj.jpg" alt="Profile Icon">
      <div class="social-links">
          <a href="https://www.linkedin.com/in/navjot-singh-dadiala" target="_blank" title="LinkedIn">
              <i class="fab fa-linkedin" style="font-size: 24px; color: #0e76a8;"></i>
          </a>
          <a href="https://www.instagram.com/s_d_naviii/" target="_blank" title="Instagram">
              <i class="fab fa-instagram" style="font-size: 24px; color: #E4405F;"></i>
          </a>
          <p>MAIL ID - namdapha-webad@ds.study.iitm.ac.in</p>
          <p>Degree Level Student</p>
          <p>Interned at IITM & IIT Roorkee</p>
      </div>
  </div>
  <script type="module" src="script.js"></script>
</body>
</html>