<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Namdapha House</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>
    <header>
        <h1>Namdapha House</h1>
        <nav class="navbar">
            <a href="/">Namdapha House</a>
            <a href="/HC">House Council</a>
            <a href="/pr">Pr & web ops team</a>
            <a href="/Rc">Regional-Coordinators</a>
            <a href="/Club">Clubs</a>
            <a href="/Resource">Namdapha Resources</a>
            <a href="/announcement">Announcements</a>
            <a href="/joinus">JOIN US</a>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Welcome to Namdapha House</h2>
            <p>Welcome to House Namdapha. We're a family of 2800+ students - in diverse age groups, spread all over India - united by the spirit of our House.</p>
        </section>

        <section class="about">
            <h2>About Us</h2>
            <p>Welcome to Namdapha House.
              
              Our house is where you seek, share, support, and study together, and do what you love through our clubs and activities. These serve as a great place for freshers to get along with our fellow classmates, getting to know people a little better, sharing thoughts and interests, staying updated with their passions, and learning together as a community.</p>
        </section>

        <section class="contact">
            <h2>Contact Us</h2>
            <p>Instagram | YouTube | LinkedIn</p>
            <p>From Namdapha House, IITM</p>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2024 Namdapha House | <a href="#privacy">Privacy Policy</a></p>
    </footer>
</body>
</html>
