<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style10.css') }}">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h2>Verify OTP</h2>
            <form method="POST">
                <div class="input-box">
                    <input type="text" name="otp" required>
                    <label>Enter OTP</label>
                </div>
                <button type="submit">Verify OTP</button>
            </form>
        </div>
    </div>
</body>
</html>
